@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?1a1cws');
    src:    url('../fonts/icomoon.eot?1a1cws#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?1a1cws') format('truetype'),
        url('../fonts/icomoon.woff?1a1cws') format('woff'),
        url('../fonts/icomoon.svg?1a1cws#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
    content: "\f02d";
}
.icon-arrow-down3:before {
    content: "\f03f";
}
.icon-arrow-left3:before {
    content: "\f040";
}
.icon-arrow-right3:before {
    content: "\f03e";
}
.icon-arrow-up3:before {
    content: "\f03d";
}
.icon-book3:before {
    content: "\f007";
}
.icon-briefcase3:before {
    content: "\f0d3";
}
.icon-calendar3:before {
    content: "\f068";
}
.icon-check2:before {
    content: "\f03a";
}
.icon-checklist:before {
    content: "\f076";
}
.icon-chevron-down2:before {
    content: "\f0a3";
}
.icon-chevron-left2:before {
    content: "\f0a4";
}
.icon-chevron-right2:before {
    content: "\f078";
}
.icon-chevron-up2:before {
    content: "\f0a2";
}
.icon-circuit-board:before {
    content: "\f0d6";
}
.icon-clock3:before {
    content: "\f046";
}
.icon-cloud-download3:before {
    content: "\f00b";
}
.icon-cloud-upload3:before {
    content: "\f00c";
}
.icon-code2:before {
    content: "\f05f";
}
.icon-color-mode:before {
    content: "\f065";
}
.icon-comment2:before {
    content: "\f02b";
}
.icon-comment-discussion:before {
    content: "\f04f";
}
.icon-dash:before {
    content: "\f0ca";
}
.icon-database3:before {
    content: "\f096";
}
.icon-device-desktop:before {
    content: "\f27c";
}
.icon-diff-added:before {
    content: "\f06b";
}
.icon-diff-removed:before {
    content: "\f06c";
}
.icon-file-code:before {
    content: "\f010";
}
.icon-file-pdf2:before {
    content: "\f014";
}
.icon-file-symlink-directory:before {
    content: "\f0b1";
}
.icon-file-symlink-file:before {
    content: "\f0b0";
}
.icon-file-text3:before {
    content: "\f011";
}
.icon-file-zip2:before {
    content: "\f013";
}
.icon-gear2:before {
    content: "\f02f";
}
.icon-gift3:before {
    content: "\f042";
}
.icon-gist:before {
    content: "\f00e";
}
.icon-globe2:before {
    content: "\f0b6";
}
.icon-home4:before {
    content: "\f08d";
}
.icon-key3:before {
    content: "\f049";
}
.icon-law:before {
    content: "\f0d8";
}
.icon-light-bulb:before {
    content: "\f000";
}
.icon-link3:before {
    content: "\f05c";
}
.icon-list-ordered:before {
    content: "\f062";
}
.icon-list-unordered:before {
    content: "\f061";
}
.icon-location3:before {
    content: "\f060";
}
.icon-mail-reply2:before {
    content: "\f051";
}
.icon-megaphone:before {
    content: "\f077";
}
.icon-mention:before {
    content: "\f0be";
}
.icon-mortar-board2:before {
    content: "\f0d7";
}
.icon-organization:before {
    content: "\f037";
}
.icon-pencil3:before {
    content: "\f058";
}
.icon-person:before {
    content: "\f018";
}
.icon-plug2:before {
    content: "\f0d4";
}
.icon-primitive-dot:before {
    content: "\f052";
}
.icon-pulse:before {
    content: "\f085";
}
.icon-quote:before {
    content: "\f063";
}
.icon-repo-forked:before {
    content: "\f002";
}
.icon-rss3:before {
    content: "\f034";
}
.icon-search3:before {
    content: "\f02e";
}
.icon-sign-in2:before {
    content: "\f036";
}
.icon-sign-out2:before {
    content: "\f032";
}
.icon-sync:before {
    content: "\f087";
}
.icon-terminal3:before {
    content: "\f0c8";
}
.icon-three-bars:before {
    content: "\f05e";
}
.icon-tools:before {
    content: "\f031";
}
.icon-trashcan:before {
    content: "\f0d0";
}
.icon-x:before {
    content: "\f081";
}
.icon-zap:before {
    content: "\26a1";
}
.icon-home2:before {
    content: "\e900";
}
.icon-home22:before {
    content: "\e901";
}
.icon-home3:before {
    content: "\e902";
}
.icon-office:before {
    content: "\e903";
}
.icon-newspaper:before {
    content: "\e904";
}
.icon-pencil2:before {
    content: "\e905";
}
.icon-droplet:before {
    content: "\e90b";
}
.icon-image2:before {
    content: "\e90d";
}
.icon-images:before {
    content: "\e90e";
}
.icon-camera2:before {
    content: "\e90f";
}
.icon-headphones2:before {
    content: "\e910";
}
.icon-music2:before {
    content: "\e911";
}
.icon-play2:before {
    content: "\e912";
}
.icon-film2:before {
    content: "\e913";
}
.icon-video-camera2:before {
    content: "\e914";
}
.icon-bullhorn2:before {
    content: "\e91a";
}
.icon-connection:before {
    content: "\e91b";
}
.icon-podcast:before {
    content: "\e91c";
}
.icon-feed2:before {
    content: "\e91d";
}
.icon-mic:before {
    content: "\e91e";
}
.icon-book2:before {
    content: "\e91f";
}
.icon-books:before {
    content: "\e920";
}
.icon-library:before {
    content: "\e921";
}
.icon-file-text2:before {
    content: "\e922";
}
.icon-profile:before {
    content: "\e923";
}
.icon-file-empty:before {
    content: "\e924";
}
.icon-files-empty:before {
    content: "\e925";
}
.icon-file-text22:before {
    content: "\e926";
}
.icon-file-picture:before {
    content: "\e927";
}
.icon-file-music:before {
    content: "\e928";
}
.icon-file-play:before {
    content: "\e929";
}
.icon-file-video:before {
    content: "\e92a";
}
.icon-file-zip:before {
    content: "\e92b";
}
.icon-copy2:before {
    content: "\e92c";
}
.icon-stack:before {
    content: "\e92e";
}
.icon-folder2:before {
    content: "\e92f";
}
.icon-folder-open2:before {
    content: "\e930";
}
.icon-folder-download:before {
    content: "\e933";
}
.icon-folder-upload:before {
    content: "\e934";
}
.icon-cart:before {
    content: "\e93a";
}
.icon-coin-dollar:before {
    content: "\e93b";
}
.icon-credit-card2:before {
    content: "\e93f";
}
.icon-lifebuoy:before {
    content: "\e941";
}
.icon-phone2:before {
    content: "\e942";
}
.icon-phone-hang-up:before {
    content: "\e943";
}
.icon-address-book:before {
    content: "\e944";
}
.icon-envelop:before {
    content: "\e945";
}
.icon-location:before {
    content: "\e947";
}
.icon-location2:before {
    content: "\e948";
}
.icon-alarm:before {
    content: "\e950";
}
.icon-bell2:before {
    content: "\e951";
}
.icon-stopwatch:before {
    content: "\e952";
}
.icon-calendar2:before {
    content: "\e953";
}
.icon-printer:before {
    content: "\e954";
}
.icon-keyboard:before {
    content: "\e955";
}
.icon-display:before {
    content: "\e956";
}
.icon-laptop2:before {
    content: "\e957";
}
.icon-mobile2:before {
    content: "\e958";
}
.icon-mobile22:before {
    content: "\e959";
}
.icon-drawer:before {
    content: "\e95c";
}
.icon-drawer2:before {
    content: "\e95d";
}
.icon-box-add:before {
    content: "\e95e";
}
.icon-box-remove:before {
    content: "\e95f";
}
.icon-download2:before {
    content: "\e960";
}
.icon-upload2:before {
    content: "\e961";
}
.icon-floppy-disk:before {
    content: "\e962";
}
.icon-database2:before {
    content: "\e964";
}
.icon-undo2:before {
    content: "\e965";
}
.icon-redo:before {
    content: "\e966";
}
.icon-undo22:before {
    content: "\e967";
}
.icon-redo2:before {
    content: "\e968";
}
.icon-forward2:before {
    content: "\e969";
}
.icon-reply2:before {
    content: "\e96a";
}
.icon-bubble:before {
    content: "\e96b";
}
.icon-bubbles:before {
    content: "\e96c";
}
.icon-bubbles2:before {
    content: "\e96d";
}
.icon-user2:before {
    content: "\e971";
}
.icon-users2:before {
    content: "\e972";
}
.icon-user-plus2:before {
    content: "\e973";
}
.icon-user-minus:before {
    content: "\e974";
}
.icon-user-tie:before {
    content: "\e976";
}
.icon-hour-glass:before {
    content: "\e979";
}
.icon-spinner2:before {
    content: "\e97a";
}
.icon-spinner22:before {
    content: "\e97b";
}
.icon-spinner3:before {
    content: "\e97c";
}
.icon-spinner11:before {
    content: "\e984";
}
.icon-search2:before {
    content: "\e986";
}
.icon-key2:before {
    content: "\e98d";
}
.icon-lock2:before {
    content: "\e98f";
}
.icon-unlocked:before {
    content: "\e990";
}
.icon-wrench2:before {
    content: "\e991";
}
.icon-equalizer:before {
    content: "\e992";
}
.icon-equalizer2:before {
    content: "\e993";
}
.icon-cog2:before {
    content: "\e994";
}
.icon-cogs2:before {
    content: "\e995";
}
.icon-magic-wand:before {
    content: "\e997";
}
.icon-aid-kit:before {
    content: "\e998";
}
.icon-pie-chart2:before {
    content: "\e99a";
}
.icon-stats-dots:before {
    content: "\e99b";
}
.icon-stats-bars:before {
    content: "\e99c";
}
.icon-stats-bars2:before {
    content: "\e99d";
}
.icon-trophy2:before {
    content: "\e99e";
}
.icon-gift2:before {
    content: "\e99f";
}
.icon-leaf2:before {
    content: "\e9a4";
}
.icon-hammer2:before {
    content: "\e9a8";
}
.icon-fire2:before {
    content: "\e9a9";
}
.icon-lab:before {
    content: "\e9aa";
}
.icon-magnet2:before {
    content: "\e9ab";
}
.icon-bin:before {
    content: "\e9ac";
}
.icon-bin2:before {
    content: "\e9ad";
}
.icon-briefcase2:before {
    content: "\e9ae";
}
.icon-truck2:before {
    content: "\e9b0";
}
.icon-road2:before {
    content: "\e9b1";
}
.icon-accessibility:before {
    content: "\e9b2";
}
.icon-target:before {
    content: "\e9b3";
}
.icon-power:before {
    content: "\e9b5";
}
.icon-switch:before {
    content: "\e9b6";
}
.icon-power-cord:before {
    content: "\e9b7";
}
.icon-clipboard2:before {
    content: "\e9b8";
}
.icon-list-numbered:before {
    content: "\e9b9";
}
.icon-list2:before {
    content: "\e9ba";
}
.icon-list22:before {
    content: "\e9bb";
}
.icon-tree2:before {
    content: "\e9bc";
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-menu2:before {
    content: "\e9be";
}
.icon-menu3:before {
    content: "\e9bf";
}
.icon-menu4:before {
    content: "\e9c0";
}
.icon-cloud2:before {
    content: "\e9c1";
}
.icon-cloud-download2:before {
    content: "\e9c2";
}
.icon-cloud-upload2:before {
    content: "\e9c3";
}
.icon-cloud-check:before {
    content: "\e9c4";
}
.icon-download22:before {
    content: "\e9c5";
}
.icon-upload22:before {
    content: "\e9c6";
}
.icon-download3:before {
    content: "\e9c7";
}
.icon-upload3:before {
    content: "\e9c8";
}
.icon-sphere:before {
    content: "\e9c9";
}
.icon-earth:before {
    content: "\e9ca";
}
.icon-link2:before {
    content: "\e9cb";
}
.icon-flag2:before {
    content: "\e9cc";
}
.icon-attachment:before {
    content: "\e9cd";
}
.icon-star-empty:before {
    content: "\e9d7";
}
.icon-star-half2:before {
    content: "\e9d8";
}
.icon-star-full:before {
    content: "\e9d9";
}
.icon-man:before {
    content: "\e9dc";
}
.icon-woman:before {
    content: "\e9dd";
}
.icon-man-woman:before {
    content: "\e9de";
}
.icon-warning2:before {
    content: "\ea07";
}
.icon-notification:before {
    content: "\ea08";
}
.icon-question2:before {
    content: "\ea09";
}
.icon-plus2:before {
    content: "\ea0a";
}
.icon-minus2:before {
    content: "\ea0b";
}
.icon-info2:before {
    content: "\ea0c";
}
.icon-cancel-circle:before {
    content: "\ea0d";
}
.icon-blocked:before {
    content: "\ea0e";
}
.icon-cross:before {
    content: "\ea0f";
}
.icon-checkmark:before {
    content: "\ea10";
}
.icon-checkmark2:before {
    content: "\ea11";
}
.icon-spell-check:before {
    content: "\ea12";
}
.icon-enter:before {
    content: "\ea13";
}
.icon-exit:before {
    content: "\ea14";
}
.icon-play22:before {
    content: "\ea15";
}
.icon-pause2:before {
    content: "\ea16";
}
.icon-stop2:before {
    content: "\ea17";
}
.icon-previous:before {
    content: "\ea18";
}
.icon-next:before {
    content: "\ea19";
}
.icon-backward2:before {
    content: "\ea1a";
}
.icon-forward22:before {
    content: "\ea1b";
}
.icon-loop2:before {
    content: "\ea2e";
}
.icon-infinite:before {
    content: "\ea2f";
}
.icon-arrow-up-left2:before {
    content: "\ea39";
}
.icon-arrow-up22:before {
    content: "\ea3a";
}
.icon-arrow-up-right2:before {
    content: "\ea3b";
}
.icon-arrow-right22:before {
    content: "\ea3c";
}
.icon-arrow-down-right2:before {
    content: "\ea3d";
}
.icon-arrow-down22:before {
    content: "\ea3e";
}
.icon-arrow-down-left2:before {
    content: "\ea3f";
}
.icon-arrow-left22:before {
    content: "\ea40";
}
.icon-circle-up:before {
    content: "\ea41";
}
.icon-circle-right:before {
    content: "\ea42";
}
.icon-circle-down:before {
    content: "\ea43";
}
.icon-circle-left:before {
    content: "\ea44";
}
.icon-tab:before {
    content: "\ea45";
}
.icon-sort-amount-asc2:before {
    content: "\ea4c";
}
.icon-sort-amount-desc2:before {
    content: "\ea4d";
}
.icon-checkbox-checked:before {
    content: "\ea52";
}
.icon-checkbox-unchecked:before {
    content: "\ea53";
}
.icon-scissors2:before {
    content: "\ea5a";
}
.icon-page-break:before {
    content: "\ea68";
}
.icon-table2:before {
    content: "\ea70";
}
.icon-table22:before {
    content: "\ea71";
}
.icon-paragraph-left:before {
    content: "\ea77";
}
.icon-paragraph-center:before {
    content: "\ea78";
}
.icon-paragraph-right:before {
    content: "\ea79";
}
.icon-paragraph-justify:before {
    content: "\ea7a";
}
.icon-share2:before {
    content: "\ea7d";
}
.icon-new-tab:before {
    content: "\ea7e";
}
.icon-embed:before {
    content: "\ea7f";
}
.icon-embed2:before {
    content: "\ea80";
}
.icon-terminal2:before {
    content: "\ea81";
}
.icon-google2:before {
    content: "\ea88";
}
.icon-google22:before {
    content: "\ea89";
}
.icon-google3:before {
    content: "\ea8a";
}
.icon-google-plus2:before {
    content: "\ea8b";
}
.icon-google-plus22:before {
    content: "\ea8c";
}
.icon-google-plus3:before {
    content: "\ea8d";
}
.icon-google-drive:before {
    content: "\ea8f";
}
.icon-facebook2:before {
    content: "\ea90";
}
.icon-facebook22:before {
    content: "\ea91";
}
.icon-whatsapp2:before {
    content: "\ea93";
}
.icon-telegram:before {
    content: "\ea95";
}
.icon-twitter2:before {
    content: "\ea96";
}
.icon-rss2:before {
    content: "\ea9b";
}
.icon-rss22:before {
    content: "\ea9c";
}
.icon-youtube2:before {
    content: "\ea9d";
}
.icon-youtube22:before {
    content: "\ea9e";
}
.icon-dribbble2:before {
    content: "\eaa7";
}
.icon-onedrive:before {
    content: "\eaaf";
}
.icon-tux:before {
    content: "\eabd";
}
.icon-appleinc:before {
    content: "\eabe";
}
.icon-finder:before {
    content: "\eabf";
}
.icon-android2:before {
    content: "\eac0";
}
.icon-windows2:before {
    content: "\eac1";
}
.icon-windows8:before {
    content: "\eac2";
}
.icon-linkedin2:before {
    content: "\eac9";
}
.icon-linkedin22:before {
    content: "\eaca";
}
.icon-lastfm2:before {
    content: "\eacb";
}
.icon-lastfm22:before {
    content: "\eacc";
}
.icon-delicious2:before {
    content: "\eacd";
}
.icon-chrome2:before {
    content: "\ead9";
}
.icon-firefox2:before {
    content: "\eada";
}
.icon-IE:before {
    content: "\eadb";
}
.icon-edge2:before {
    content: "\eadc";
}
.icon-safari2:before {
    content: "\eadd";
}
.icon-opera2:before {
    content: "\eade";
}
.icon-file-pdf:before {
    content: "\eadf";
}
.icon-file-word:before {
    content: "\eae1";
}
.icon-file-excel:before {
    content: "\eae2";
}
.icon-libreoffice:before {
    content: "\eae3";
}
.icon-html-five:before {
    content: "\eae4";
}
.icon-html-five2:before {
    content: "\eae5";
}
.icon-music:before {
    content: "\f004";
}
.icon-search:before {
    content: "\f00f";
}
.icon-envelope-o:before {
    content: "\f01a";
}
.icon-star:before {
    content: "\f01c";
}
.icon-star-o:before {
    content: "\f01d";
}
.icon-user:before {
    content: "\f01e";
}
.icon-film:before {
    content: "\f021";
}
.icon-th-large:before {
    content: "\f022";
}
.icon-th:before {
    content: "\f025";
}
.icon-th-list:before {
    content: "\f029";
}
.icon-check:before {
    content: "\f04b";
}
.icon-close:before {
    content: "\f050";
}
.icon-remove:before {
    content: "\f050";
}
.icon-times:before {
    content: "\f050";
}
.icon-power-off:before {
    content: "\f06f";
}
.icon-signal:before {
    content: "\f079";
}
.icon-cog:before {
    content: "\f07a";
}
.icon-gear:before {
    content: "\f07a";
}
.icon-trash-o:before {
    content: "\f082";
}
.icon-home:before {
    content: "\f083";
}
.icon-file-o:before {
    content: "\f086";
}
.icon-clock-o:before {
    content: "\f090";
}
.icon-road:before {
    content: "\f093";
}
.icon-download:before {
    content: "\f095";
}
.icon-arrow-circle-o-down:before {
    content: "\f098";
}
.icon-arrow-circle-o-up:before {
    content: "\f09b";
}
.icon-inbox:before {
    content: "\f0ab";
}
.icon-play-circle-o:before {
    content: "\f0ad";
}
.icon-repeat:before {
    content: "\f0ae";
}
.icon-rotate-right:before {
    content: "\f0ae";
}
.icon-refresh:before {
    content: "\f0b3";
}
.icon-list-alt:before {
    content: "\f0b4";
}
.icon-lock:before {
    content: "\f0b5";
}
.icon-flag:before {
    content: "\f0b7";
}
.icon-qrcode:before {
    content: "\f0c3";
}
.icon-barcode:before {
    content: "\f0cb";
}
.icon-book:before {
    content: "\f0d5";
}
.icon-print:before {
    content: "\f0da";
}
.icon-camera:before {
    content: "\f0db";
}
.icon-align-left:before {
    content: "\f0e1";
}
.icon-align-center:before {
    content: "\f0e2";
}
.icon-align-right:before {
    content: "\f0e3";
}
.icon-align-justify:before {
    content: "\f0e4";
}
.icon-list:before {
    content: "\f0e5";
}
.icon-dedent:before {
    content: "\f0e6";
}
.icon-outdent:before {
    content: "\f0e6";
}
.icon-indent:before {
    content: "\f0e7";
}
.icon-video-camera:before {
    content: "\f0e8";
}
.icon-image:before {
    content: "\f0e9";
}
.icon-photo:before {
    content: "\f0e9";
}
.icon-picture-o:before {
    content: "\f0e9";
}
.icon-pencil:before {
    content: "\f0ea";
}
.icon-map-marker:before {
    content: "\f0eb";
}
.icon-tint:before {
    content: "\f0ed";
}
.icon-edit:before {
    content: "\f0ee";
}
.icon-pencil-square-o:before {
    content: "\f0ee";
}
.icon-share-square-o:before {
    content: "\f0ef";
}
.icon-check-square-o:before {
    content: "\f0f0";
}
.icon-chevron-left:before {
    content: "\f0fc";
}
.icon-chevron-right:before {
    content: "\f0fd";
}
.icon-plus-circle:before {
    content: "\f0fe";
}
.icon-minus-circle:before {
    content: "\f0ff";
}
.icon-times-circle:before {
    content: "\f100";
}
.icon-check-circle:before {
    content: "\f101";
}
.icon-question-circle:before {
    content: "\f102";
}
.icon-info-circle:before {
    content: "\f103";
}
.icon-crosshairs:before {
    content: "\f104";
}
.icon-times-circle-o:before {
    content: "\f105";
}
.icon-check-circle-o:before {
    content: "\f106";
}
.icon-arrow-left:before {
    content: "\f108";
}
.icon-arrow-right:before {
    content: "\f109";
}
.icon-arrow-up:before {
    content: "\f10a";
}
.icon-arrow-down:before {
    content: "\f10b";
}
.icon-mail-forward:before {
    content: "\f10c";
}
.icon-share:before {
    content: "\f10c";
}
.icon-plus:before {
    content: "\f10f";
}
.icon-minus:before {
    content: "\f110";
}
.icon-asterisk:before {
    content: "\f111";
}
.icon-exclamation-circle:before {
    content: "\f112";
}
.icon-gift:before {
    content: "\f113";
}
.icon-leaf:before {
    content: "\f114";
}
.icon-fire:before {
    content: "\f115";
}
.icon-exclamation-triangle:before {
    content: "\f118";
}
.icon-warning:before {
    content: "\f118";
}
.icon-calendar:before {
    content: "\f11a";
}
.icon-random:before {
    content: "\f11b";
}
.icon-comment:before {
    content: "\f11c";
}
.icon-chevron-up:before {
    content: "\f11e";
}
.icon-chevron-down:before {
    content: "\f11f";
}
.icon-retweet:before {
    content: "\f120";
}
.icon-folder:before {
    content: "\f122";
}
.icon-folder-open:before {
    content: "\f123";
}
.icon-arrows-v:before {
    content: "\f124";
}
.icon-arrows-h:before {
    content: "\f125";
}
.icon-bar-chart:before {
    content: "\f126";
}
.icon-bar-chart-o:before {
    content: "\f126";
}
.icon-twitter-square:before {
    content: "\f127";
}
.icon-facebook-square:before {
    content: "\f128";
}
.icon-camera-retro:before {
    content: "\f129";
}
.icon-cogs:before {
    content: "\f12b";
}
.icon-gears:before {
    content: "\f12b";
}
.icon-comments:before {
    content: "\f12c";
}
.icon-thumbs-o-up:before {
    content: "\f12d";
}
.icon-thumbs-o-down:before {
    content: "\f12e";
}
.icon-sign-out:before {
    content: "\f131";
}
.icon-linkedin-square:before {
    content: "\f132";
}
.icon-external-link:before {
    content: "\f134";
}
.icon-sign-in:before {
    content: "\f135";
}
.icon-trophy:before {
    content: "\f136";
}
.icon-upload:before {
    content: "\f138";
}
.icon-phone:before {
    content: "\f13a";
}
.icon-square-o:before {
    content: "\f13b";
}
.icon-phone-square:before {
    content: "\f13d";
}
.icon-twitter:before {
    content: "\f13e";
}
.icon-facebook:before {
    content: "\f13f";
}
.icon-facebook-f:before {
    content: "\f13f";
}
.icon-unlock:before {
    content: "\f141";
}
.icon-credit-card:before {
    content: "\f142";
}
.icon-feed:before {
    content: "\f143";
}
.icon-rss:before {
    content: "\f143";
}
.icon-hdd-o:before {
    content: "\f144";
}
.icon-bullhorn:before {
    content: "\f145";
}
.icon-bell-o:before {
    content: "\f146";
}
.icon-certificate:before {
    content: "\f147";
}
.icon-hand-o-right:before {
    content: "\f148";
}
.icon-hand-o-left:before {
    content: "\f149";
}
.icon-hand-o-up:before {
    content: "\f14a";
}
.icon-hand-o-down:before {
    content: "\f14b";
}
.icon-arrow-circle-left:before {
    content: "\f14c";
}
.icon-arrow-circle-right:before {
    content: "\f14d";
}
.icon-arrow-circle-up:before {
    content: "\f14e";
}
.icon-arrow-circle-down:before {
    content: "\f14f";
}
.icon-globe:before {
    content: "\f150";
}
.icon-wrench:before {
    content: "\f151";
}
.icon-tasks:before {
    content: "\f152";
}
.icon-briefcase:before {
    content: "\f154";
}
.icon-arrows-alt:before {
    content: "\f155";
}
.icon-group:before {
    content: "\f156";
}
.icon-users:before {
    content: "\f156";
}
.icon-chain:before {
    content: "\f157";
}
.icon-link:before {
    content: "\f157";
}
.icon-cloud:before {
    content: "\f158";
}
.icon-flask:before {
    content: "\f159";
}
.icon-cut:before {
    content: "\f15a";
}
.icon-scissors:before {
    content: "\f15a";
}
.icon-copy:before {
    content: "\f15b";
}
.icon-files-o:before {
    content: "\f15b";
}
.icon-paperclip:before {
    content: "\f15c";
}
.icon-floppy-o:before {
    content: "\f15d";
}
.icon-save:before {
    content: "\f15d";
}
.icon-square:before {
    content: "\f15e";
}
.icon-bars:before {
    content: "\f15f";
}
.icon-navicon:before {
    content: "\f15f";
}
.icon-reorder:before {
    content: "\f15f";
}
.icon-list-ul:before {
    content: "\f160";
}
.icon-list-ol:before {
    content: "\f161";
}
.icon-table:before {
    content: "\f164";
}
.icon-magic:before {
    content: "\f165";
}
.icon-truck:before {
    content: "\f166";
}
.icon-google-plus-square:before {
    content: "\f169";
}
.icon-google-plus:before {
    content: "\f16a";
}
.icon-caret-down:before {
    content: "\f16c";
}
.icon-caret-up:before {
    content: "\f16d";
}
.icon-caret-left:before {
    content: "\f16e";
}
.icon-caret-right:before {
    content: "\f16f";
}
.icon-columns:before {
    content: "\f170";
}
.icon-sort:before {
    content: "\f171";
}
.icon-unsorted:before {
    content: "\f171";
}
.icon-sort-desc:before {
    content: "\f172";
}
.icon-sort-down:before {
    content: "\f172";
}
.icon-sort-asc:before {
    content: "\f173";
}
.icon-sort-up:before {
    content: "\f173";
}
.icon-envelope:before {
    content: "\f174";
}
.icon-linkedin:before {
    content: "\f175";
}
.icon-rotate-left:before {
    content: "\f176";
}
.icon-undo:before {
    content: "\f176";
}
.icon-gavel:before {
    content: "\f177";
}
.icon-legal:before {
    content: "\f177";
}
.icon-dashboard:before {
    content: "\f178";
}
.icon-tachometer:before {
    content: "\f178";
}
.icon-comment-o:before {
    content: "\f179";
}
.icon-comments-o:before {
    content: "\f17a";
}
.icon-bolt:before {
    content: "\f17b";
}
.icon-flash:before {
    content: "\f17b";
}
.icon-sitemap:before {
    content: "\f17c";
}
.icon-clipboard:before {
    content: "\f17e";
}
.icon-paste:before {
    content: "\f17e";
}
.icon-lightbulb-o:before {
    content: "\f17f";
}
.icon-exchange:before {
    content: "\f180";
}
.icon-cloud-download:before {
    content: "\f181";
}
.icon-cloud-upload:before {
    content: "\f182";
}
.icon-user-md:before {
    content: "\f183";
}
.icon-suitcase:before {
    content: "\f185";
}
.icon-bell:before {
    content: "\f186";
}
.icon-file-text-o:before {
    content: "\f189";
}
.icon-building-o:before {
    content: "\f18a";
}
.icon-hospital-o:before {
    content: "\f18b";
}
.icon-ambulance:before {
    content: "\f18c";
}
.icon-medkit:before {
    content: "\f18d";
}
.icon-plus-square:before {
    content: "\f191";
}
.icon-angle-double-left:before {
    content: "\f192";
}
.icon-angle-double-right:before {
    content: "\f193";
}
.icon-angle-double-up:before {
    content: "\f194";
}
.icon-angle-double-down:before {
    content: "\f195";
}
.icon-angle-left:before {
    content: "\f196";
}
.icon-angle-right:before {
    content: "\f197";
}
.icon-angle-up:before {
    content: "\f198";
}
.icon-angle-down:before {
    content: "\f199";
}
.icon-desktop:before {
    content: "\f19a";
}
.icon-laptop:before {
    content: "\f19b";
}
.icon-tablet:before {
    content: "\f19c";
}
.icon-mobile:before {
    content: "\f19d";
}
.icon-mobile-phone:before {
    content: "\f19d";
}
.icon-circle-o:before {
    content: "\f19e";
}
.icon-spinner:before {
    content: "\f1a1";
}
.icon-mail-reply:before {
    content: "\f1a3";
}
.icon-reply:before {
    content: "\f1a3";
}
.icon-folder-o:before {
    content: "\f1a5";
}
.icon-folder-open-o:before {
    content: "\f1a6";
}
.icon-smile-o:before {
    content: "\f1a7";
}
.icon-meh-o:before {
    content: "\f1a9";
}
.icon-keyboard-o:before {
    content: "\f1ab";
}
.icon-flag-o:before {
    content: "\f1ac";
}
.icon-flag-checkered:before {
    content: "\f1ad";
}
.icon-mail-reply-all:before {
    content: "\f1b0";
}
.icon-reply-all:before {
    content: "\f1b0";
}
.icon-question:before {
    content: "\f1b6";
}
.icon-info:before {
    content: "\f1b7";
}
.icon-exclamation:before {
    content: "\f1b8";
}
.icon-microphone:before {
    content: "\f1bd";
}
.icon-calendar-o:before {
    content: "\f1c0";
}
.icon-fire-extinguisher:before {
    content: "\f1c1";
}
.icon-chevron-circle-left:before {
    content: "\f1c4";
}
.icon-chevron-circle-right:before {
    content: "\f1c5";
}
.icon-chevron-circle-up:before {
    content: "\f1c6";
}
.icon-chevron-circle-down:before {
    content: "\f1c7";
}
.icon-html5:before {
    content: "\f1c8";
}
.icon-unlock-alt:before {
    content: "\f1cb";
}
.icon-rss-square:before {
    content: "\f1cf";
}
.icon-play-circle:before {
    content: "\f1d0";
}
.icon-minus-square:before {
    content: "\f1d2";
}
.icon-minus-square-o:before {
    content: "\f1d3";
}
.icon-check-square:before {
    content: "\f1d6";
}
.icon-pencil-square:before {
    content: "\f1d7";
}
.icon-external-link-square:before {
    content: "\f1d8";
}
.icon-share-square:before {
    content: "\f1d9";
}
.icon-dollar:before {
    content: "\f1e0";
}
.icon-usd:before {
    content: "\f1e0";
}
.icon-file:before {
    content: "\f1e6";
}
.icon-file-text:before {
    content: "\f1e7";
}
.icon-sort-amount-asc:before {
    content: "\f1ea";
}
.icon-sort-amount-desc:before {
    content: "\f1eb";
}
.icon-thumbs-up:before {
    content: "\f1ee";
}
.icon-thumbs-down:before {
    content: "\f1ef";
}
.icon-youtube-square:before {
    content: "\f1f0";
}
.icon-youtube:before {
    content: "\f1f1";
}
.icon-youtube-play:before {
    content: "\f1f4";
}
.icon-dropbox:before {
    content: "\f1f5";
}
.icon-long-arrow-down:before {
    content: "\f1fe";
}
.icon-long-arrow-up:before {
    content: "\f1ff";
}
.icon-long-arrow-left:before {
    content: "\f200";
}
.icon-long-arrow-right:before {
    content: "\f201";
}
.icon-apple:before {
    content: "\f202";
}
.icon-windows:before {
    content: "\f203";
}
.icon-android:before {
    content: "\f204";
}
.icon-linux:before {
    content: "\f205";
}
.icon-dribbble:before {
    content: "\f206";
}
.icon-female:before {
    content: "\f20a";
}
.icon-male:before {
    content: "\f20b";
}
.icon-archive:before {
    content: "\f20f";
}
.icon-pagelines:before {
    content: "\f214";
}
.icon-stack-exchange:before {
    content: "\f215";
}
.icon-arrow-circle-o-right:before {
    content: "\f216";
}
.icon-arrow-circle-o-left:before {
    content: "\f217";
}
.icon-caret-square-o-left:before {
    content: "\f218";
}
.icon-toggle-left:before {
    content: "\f218";
}
.icon-dot-circle-o:before {
    content: "\f219";
}
.icon-wheelchair:before {
    content: "\f21a";
}
.icon-plus-square-o:before {
    content: "\f21d";
}
.icon-slack:before {
    content: "\f21f";
}
.icon-envelope-square:before {
    content: "\f220";
}
.icon-wordpress:before {
    content: "\f221";
}
.icon-bank:before {
    content: "\f223";
}
.icon-institution:before {
    content: "\f223";
}
.icon-university:before {
    content: "\f223";
}
.icon-graduation-cap:before {
    content: "\f224";
}
.icon-mortar-board:before {
    content: "\f224";
}
.icon-google:before {
    content: "\f226";
}
.icon-delicious:before {
    content: "\f22b";
}
.icon-drupal:before {
    content: "\f22f";
}
.icon-joomla:before {
    content: "\f230";
}
.icon-language:before {
    content: "\f231";
}
.icon-fax:before {
    content: "\f232";
}
.icon-building:before {
    content: "\f233";
}
.icon-child:before {
    content: "\f234";
}
.icon-cube:before {
    content: "\f237";
}
.icon-cubes:before {
    content: "\f238";
}
.icon-recycle:before {
    content: "\f23d";
}
.icon-automobile:before {
    content: "\f23e";
}
.icon-car:before {
    content: "\f23e";
}
.icon-cab:before {
    content: "\f23f";
}
.icon-taxi:before {
    content: "\f23f";
}
.icon-tree:before {
    content: "\f240";
}
.icon-spotify:before {
    content: "\f241";
}
.icon-soundcloud:before {
    content: "\f243";
}
.icon-database:before {
    content: "\f244";
}
.icon-file-pdf-o:before {
    content: "\f245";
}
.icon-file-word-o:before {
    content: "\f246";
}
.icon-file-excel-o:before {
    content: "\f247";
}
.icon-file-powerpoint-o:before {
    content: "\f248";
}
.icon-file-image-o:before {
    content: "\f249";
}
.icon-file-photo-o:before {
    content: "\f249";
}
.icon-file-picture-o:before {
    content: "\f249";
}
.icon-file-archive-o:before {
    content: "\f24a";
}
.icon-file-zip-o:before {
    content: "\f24a";
}
.icon-file-audio-o:before {
    content: "\f24b";
}
.icon-file-sound-o:before {
    content: "\f24b";
}
.icon-file-movie-o:before {
    content: "\f24c";
}
.icon-file-video-o:before {
    content: "\f24c";
}
.icon-file-code-o:before {
    content: "\f24d";
}
.icon-codepen:before {
    content: "\f24f";
}
.icon-life-bouy:before {
    content: "\f251";
}
.icon-life-buoy:before {
    content: "\f251";
}
.icon-life-ring:before {
    content: "\f251";
}
.icon-life-saver:before {
    content: "\f251";
}
.icon-support:before {
    content: "\f251";
}
.icon-circle-o-notch:before {
    content: "\f252";
}
.icon-wechat:before {
    content: "\f25a";
}
.icon-weixin:before {
    content: "\f25a";
}
.icon-paper-plane:before {
    content: "\f25b";
}
.icon-send:before {
    content: "\f25b";
}
.icon-paper-plane-o:before {
    content: "\f25c";
}
.icon-send-o:before {
    content: "\f25c";
}
.icon-circle-thin:before {
    content: "\f25e";
}
.icon-sliders:before {
    content: "\f261";
}
.icon-share-alt:before {
    content: "\f262";
}
.icon-share-alt-square:before {
    content: "\f263";
}
.icon-futbol-o:before {
    content: "\f265";
}
.icon-soccer-ball-o:before {
    content: "\f265";
}
.icon-plug:before {
    content: "\f268";
}
.icon-slideshare:before {
    content: "\f269";
}
.icon-newspaper-o:before {
    content: "\f26c";
}
.icon-wifi:before {
    content: "\f26d";
}
.icon-calculator:before {
    content: "\f26e";
}
.icon-cc-visa:before {
    content: "\f271";
}
.icon-cc-mastercard:before {
    content: "\f272";
}
.icon-cc-discover:before {
    content: "\f273";
}
.icon-cc-amex:before {
    content: "\f274";
}
.icon-cc-paypal:before {
    content: "\f275";
}
.icon-cc-stripe:before {
    content: "\f276";
}
.icon-trash:before {
    content: "\f279";
}
.icon-copyright:before {
    content: "\f27a";
}
.icon-at:before {
    content: "\f27b";
}
.icon-birthday-cake:before {
    content: "\f27f";
}
.icon-area-chart:before {
    content: "\f280";
}
.icon-pie-chart:before {
    content: "\f281";
}
.icon-line-chart:before {
    content: "\f282";
}
.icon-bus:before {
    content: "\f288";
}
.icon-forumbee:before {
    content: "\f291";
}
.icon-leanpub:before {
    content: "\f292";
}
.icon-sellsy:before {
    content: "\f293";
}
.icon-skyatlas:before {
    content: "\f296";
}
.icon-street-view:before {
    content: "\f29d";
}
.icon-facebook-official:before {
    content: "\f2ac";
}
.icon-whatsapp:before {
    content: "\f2ae";
}
.icon-server:before {
    content: "\f2af";
}
.icon-user-plus:before {
    content: "\f2b0";
}
.icon-user-times:before {
    content: "\f2b1";
}
.icon-expeditedssl:before {
    content: "\f2ba";
}
.icon-mouse-pointer:before {
    content: "\f2c0";
}
.icon-object-group:before {
    content: "\f2c2";
}
.icon-object-ungroup:before {
    content: "\f2c3";
}
.icon-sticky-note:before {
    content: "\f2c4";
}
.icon-sticky-note-o:before {
    content: "\f2c5";
}
.icon-clone:before {
    content: "\f2c8";
}
.icon-balance-scale:before {
    content: "\f2c9";
}
.icon-hourglass-o:before {
    content: "\f2ca";
}
.icon-hourglass:before {
    content: "\f2ce";
}
.icon-hand-grab-o:before {
    content: "\f2cf";
}
.icon-hand-rock-o:before {
    content: "\f2cf";
}
.icon-hand-paper-o:before {
    content: "\f2d0";
}
.icon-hand-stop-o:before {
    content: "\f2d0";
}
.icon-gg:before {
    content: "\f2d9";
}
.icon-gg-circle:before {
    content: "\f2da";
}
.icon-tripadvisor:before {
    content: "\f2db";
}
.icon-odnoklassniki:before {
    content: "\f2dc";
}
.icon-odnoklassniki-square:before {
    content: "\f2dd";
}
.icon-get-pocket:before {
    content: "\f2de";
}
.icon-safari:before {
    content: "\f2e0";
}
.icon-chrome:before {
    content: "\f2e1";
}
.icon-firefox:before {
    content: "\f2e2";
}
.icon-opera:before {
    content: "\f2e3";
}
.icon-internet-explorer:before {
    content: "\f2e4";
}
.icon-television:before {
    content: "\f2e5";
}
.icon-tv:before {
    content: "\f2e5";
}
.icon-calendar-plus-o:before {
    content: "\f2e9";
}
.icon-calendar-minus-o:before {
    content: "\f2ea";
}
.icon-calendar-times-o:before {
    content: "\f2eb";
}
.icon-calendar-check-o:before {
    content: "\f2ec";
}
.icon-commenting:before {
    content: "\f2f2";
}
.icon-commenting-o:before {
    content: "\f2f3";
}
.icon-credit-card-alt:before {
    content: "\f2fa";
}
.icon-usb:before {
    content: "\f2fe";
}
.icon-mixcloud:before {
    content: "\f300";
}
.icon-pause-circle:before {
    content: "\f302";
}
.icon-pause-circle-o:before {
    content: "\f303";
}
.icon-stop-circle:before {
    content: "\f304";
}
.icon-stop-circle-o:before {
    content: "\f305";
}
.icon-hashtag:before {
    content: "\f308";
}
.icon-bluetooth:before {
    content: "\f309";
}
.icon-bluetooth-b:before {
    content: "\f30a";
}
.icon-percent:before {
    content: "\f30b";
}
.icon-envira:before {
    content: "\f30f";
}
.icon-universal-access:before {
    content: "\f310";
}
.icon-wheelchair-alt:before {
    content: "\f311";
}
.icon-question-circle-o:before {
    content: "\f312";
}
.icon-sign-language:before {
    content: "\f31c";
}
.icon-signing:before {
    content: "\f31c";
}
.icon-google-plus-circle:before {
    content: "\f327";
}
.icon-google-plus-official:before {
    content: "\f327";
}
.icon-fa:before {
    content: "\f328";
}
.icon-font-awesome:before {
    content: "\f328";
}
.icon-number:before {
    content: "\eaeb";
}
.icon-number2:before {
    content: "\eaec";
}
.icon-number3:before {
    content: "\eaed";
}
.icon-number4:before {
    content: "\eaee";
}
.icon-number5:before {
    content: "\eaef";
}
.icon-number6:before {
    content: "\eaf0";
}
.icon-number7:before {
    content: "\eaf1";
}
.icon-number8:before {
    content: "\eaf2";
}
.icon-number9:before {
    content: "\eaf3";
}
.icon-number10:before {
    content: "\eaf4";
}
.icon-number11:before {
    content: "\eaf5";
}
.icon-number12:before {
    content: "\eaf6";
}
.icon-number13:before {
    content: "\eaf7";
}
.icon-number14:before {
    content: "\eaf8";
}
.icon-number15:before {
    content: "\eaf9";
}
.icon-number16:before {
    content: "\eafa";
}
.icon-number17:before {
    content: "\eafb";
}
.icon-number18:before {
    content: "\eafc";
}
.icon-number19:before {
    content: "\eafd";
}
.icon-number20:before {
    content: "\eafe";
}
.icon-quote2:before {
    content: "\eaff";
}
.icon-quote3:before {
    content: "\eb00";
}
.icon-cabinet:before {
    content: "\eb05";
}
.icon-cabinet2:before {
    content: "\eb06";
}
.icon-calendar4:before {
    content: "\eb07";
}
.icon-file4:before {
    content: "\eb0c";
}
.icon-camera3:before {
    content: "\eb14";
}
.icon-camera4:before {
    content: "\eb15";
}
.icon-film4:before {
    content: "\eb18";
}
.icon-inbox3:before {
    content: "\eb25";
}
.icon-download4:before {
    content: "\eb26";
}
.icon-upload4:before {
    content: "\eb27";
}
.icon-inbox4:before {
    content: "\eb28";
}
.icon-checkmark3:before {
    content: "\eb29";
}
.icon-checkmark4:before {
    content: "\eb2a";
}
.icon-cancel:before {
    content: "\eb2b";
}
.icon-cancel2:before {
    content: "\eb2c";
}
.icon-plus4:before {
    content: "\eb2d";
}
.icon-plus5:before {
    content: "\eb2e";
}
.icon-minus3:before {
    content: "\eb2f";
}
.icon-minus4:before {
    content: "\eb30";
}
.icon-notice:before {
    content: "\eb31";
}
.icon-notice2:before {
    content: "\eb32";
}
.icon-cog3:before {
    content: "\eb33";
}
.icon-cogs3:before {
    content: "\eb34";
}
.icon-cog4:before {
    content: "\eb35";
}
.icon-warning3:before {
    content: "\eb36";
}
.icon-health:before {
    content: "\eb37";
}
.icon-suitcase2:before {
    content: "\eb38";
}
.icon-suitcase3:before {
    content: "\eb39";
}
.icon-suitcase4:before {
    content: "\eb3a";
}
.icon-picture:before {
    content: "\eb3b";
}
.icon-android3:before {
    content: "\eb3e";
}
.icon-chronometer:before {
    content: "\eb43";
}
.icon-alarmclock:before {
    content: "\eb45";
}
.icon-time2:before {
    content: "\eb47";
}
.icon-headphones3:before {
    content: "\eb48";
}
.icon-wallet:before {
    content: "\eb49";
}
.icon-checkmark5:before {
    content: "\eb4a";
}
.icon-cancel3:before {
    content: "\eb4b";
}
.icon-eye4:before {
    content: "\eb4c";
}
.icon-sitemap2:before {
    content: "\eb4e";
}
.icon-sitemap3:before {
    content: "\eb4f";
}
.icon-cloud3:before {
    content: "\eb50";
}
.icon-upload5:before {
    content: "\eb51";
}
.icon-chart:before {
    content: "\eb52";
}
.icon-chart2:before {
    content: "\eb53";
}
.icon-chart3:before {
    content: "\eb54";
}
.icon-chart4:before {
    content: "\eb55";
}
.icon-chart5:before {
    content: "\eb56";
}
.icon-chart6:before {
    content: "\eb57";
}
.icon-location4:before {
    content: "\eb58";
}
.icon-download5:before {
    content: "\eb59";
}
.icon-folder3:before {
    content: "\eb5b";
}
.icon-alarm2:before {
    content: "\eb5d";
}
.icon-alarm-cancel:before {
    content: "\eb5e";
}
.icon-phone4:before {
    content: "\eb5f";
}
.icon-phone5:before {
    content: "\eb60";
}
.icon-trashcan2:before {
    content: "\eb66";
}
.icon-graduate:before {
    content: "\eb68";
}
.icon-lab2:before {
    content: "\eb69";
}
.icon-tie:before {
    content: "\eb6a";
}
.icon-hand:before {
    content: "\eb7a";
}
.icon-radio:before {
    content: "\eb7b";
}
.icon-satellite:before {
    content: "\eb7c";
}
.icon-medal:before {
    content: "\eb7d";
}
.icon-medal2:before {
    content: "\eb7e";
}
.icon-cord:before {
    content: "\eb81";
}
.icon-locked:before {
    content: "\eb82";
}
.icon-unlocked2:before {
    content: "\eb83";
}
.icon-magnifier:before {
    content: "\eb86";
}
.icon-stack3:before {
    content: "\eb8a";
}
.icon-stack4:before {
    content: "\eb8b";
}
.icon-lamp2:before {
    content: "\eb94";
}
.icon-streetlight:before {
    content: "\eb96";
}
.icon-archive2:before {
    content: "\eb98";
}
.icon-megaphone2:before {
    content: "\eb9e";
}
.icon-lamp3:before {
    content: "\eba4";
}
.icon-cube2:before {
    content: "\eba7";
}
.icon-box:before {
    content: "\eba8";
}
.icon-box2:before {
    content: "\eba9";
}
.icon-bag:before {
    content: "\ebab";
}
.icon-moneybag:before {
    content: "\ebac";
}
.icon-grid:before {
    content: "\ebad";
}
.icon-grid2:before {
    content: "\ebae";
}
.icon-list3:before {
    content: "\ebaf";
}
.icon-list4:before {
    content: "\ebb0";
}
.icon-layout7:before {
    content: "\ebb9";
}
.icon-tools2:before {
    content: "\ebc1";
}
.icon-chat:before {
    content: "\ebc7";
}
.icon-comments2:before {
    content: "\ebc8";
}
.icon-chat2:before {
    content: "\ebc9";
}
.icon-chat3:before {
    content: "\ebca";
}
.icon-volume:before {
    content: "\ebcb";
}
.icon-equalizer3:before {
    content: "\ebce";
}
.icon-resize3:before {
    content: "\ebd3";
}
.icon-download6:before {
    content: "\ebd4";
}
.icon-calculator3:before {
    content: "\ebd5";
}
.icon-library2:before {
    content: "\ebd6";
}
.icon-auction:before {
    content: "\ebd7";
}
.icon-justice:before {
    content: "\ebd8";
}
.icon-stats:before {
    content: "\ebd9";
}
.icon-stats2:before {
    content: "\ebda";
}
.icon-attachment2:before {
    content: "\ebdb";
}
.icon-pencil4:before {
    content: "\ebde";
}
.icon-pen3:before {
    content: "\ebdf";
}
.icon-edit2:before {
    content: "\ebe3";
}
.icon-scissors3:before {
    content: "\ebe4";
}
.icon-profile2:before {
    content: "\ebe5";
}
.icon-profile3:before {
    content: "\ebe6";
}
.icon-profile4:before {
    content: "\ebe7";
}
.icon-rotate:before {
    content: "\ebe8";
}
.icon-rotate2:before {
    content: "\ebe9";
}
.icon-reply3:before {
    content: "\ebea";
}
.icon-forward4:before {
    content: "\ebeb";
}
.icon-loop3:before {
    content: "\ebee";
}
.icon-crop3:before {
    content: "\ebef";
}
.icon-square2:before {
    content: "\ebf0";
}
.icon-square3:before {
    content: "\ebf1";
}
.icon-circle2:before {
    content: "\ebf2";
}
.icon-dollar2:before {
    content: "\ebf3";
}
.icon-dollar3:before {
    content: "\ebf4";
}
.icon-coins:before {
    content: "\ebf5";
}
.icon-pig:before {
    content: "\ebf6";
}
.icon-bookmark5:before {
    content: "\ebf8";
}
.icon-addressbook:before {
    content: "\ebf9";
}
.icon-addressbook2:before {
    content: "\ebfa";
}
.icon-envelope2:before {
    content: "\ebfc";
}
.icon-envelope3:before {
    content: "\ebfd";
}
.icon-music3:before {
    content: "\ebff";
}
.icon-male2:before {
    content: "\ec01";
}
.icon-female2:before {
    content: "\ec02";
}
.icon-aids:before {
    content: "\ec03";
}
.icon-car2:before {
    content: "\ec0f";
}
.icon-truck3:before {
    content: "\ec11";
}
.icon-bus2:before {
    content: "\ec12";
}
.icon-book4:before {
    content: "\ec17";
}
.icon-barcode3:before {
    content: "\ec19";
}
.icon-barcode4:before {
    content: "\ec1a";
}
.icon-expand2:before {
    content: "\ec1b";
}
.icon-collapse:before {
    content: "\ec1c";
}
.icon-popout:before {
    content: "\ec1d";
}
.icon-popin:before {
    content: "\ec1e";
}
.icon-cone:before {
    content: "\ec26";
}
.icon-stop4:before {
    content: "\ec28";
}
.icon-printer2:before {
    content: "\ec2c";
}
.icon-checked:before {
    content: "\ec2d";
}
.icon-error:before {
    content: "\ec2e";
}
.icon-add:before {
    content: "\ec2f";
}
.icon-minus5:before {
    content: "\ec30";
}
.icon-alert2:before {
    content: "\ec31";
}
.icon-pictures3:before {
    content: "\ec32";
}
.icon-globe3:before {
    content: "\ec35";
}
.icon-shipping:before {
    content: "\ec37";
}
.icon-yingyang:before {
    content: "\ec38";
}
.icon-zip:before {
    content: "\ec3a";
}
.icon-clipboard3:before {
    content: "\ec44";
}
.icon-clipboard4:before {
    content: "\ec45";
}
.icon-clipboard5:before {
    content: "\ec46";
}
.icon-switch3:before {
    content: "\ec47";
}
.icon-alarm3:before {
    content: "\e855";
}
.icon-access_alarms:before {
    content: "\e191";
}
.icon-schedule:before {
    content: "\e8b5";
}
.icon-accessibility2:before {
    content: "\e84e";
}
.icon-account_box:before {
    content: "\e851";
}
.icon-account_circle:before {
    content: "\e853";
}
.icon-add_box:before {
    content: "\e146";
}
.icon-add_circle:before {
    content: "\e147";
}
.icon-control_point:before {
    content: "\e3ba";
}
.icon-airport_shuttle:before {
    content: "\ec4b";
}
.icon-android4:before {
    content: "\e859";
}
.icon-announcement:before {
    content: "\e85a";
}
.icon-apps:before {
    content: "\e5c3";
}
.icon-archive3:before {
    content: "\e149";
}
.icon-aspect_ratio:before {
    content: "\e85b";
}
.icon-poll:before {
    content: "\e801";
}
.icon-assignment:before {
    content: "\e85d";
}
.icon-assignment_ind:before {
    content: "\e85e";
}
.icon-assignment_late:before {
    content: "\e85f";
}
.icon-assignment_return:before {
    content: "\e860";
}
.icon-assignment_returned:before {
    content: "\e861";
}
.icon-assignment_turned_in:before {
    content: "\e862";
}
.icon-attach_file:before {
    content: "\e226";
}
.icon-attach_money:before {
    content: "\e227";
}
.icon-attachment3:before {
    content: "\e2bc";
}
.icon-autorenew:before {
    content: "\e863";
}
.icon-cloud_upload:before {
    content: "\e2c3";
}
.icon-bluetooth2:before {
    content: "\e1a7";
}
.icon-border_color:before {
    content: "\e22b";
}
.icon-broken_image:before {
    content: "\e3ad";
}
.icon-bubble_chart:before {
    content: "\e6dd";
}
.icon-build:before {
    content: "\e869";
}
.icon-business_center:before {
    content: "\ec4f";
}
.icon-cached:before {
    content: "\e86a";
}
.icon-phone6:before {
    content: "\e0cd";
}
.icon-call_end:before {
    content: "\e0b1";
}
.icon-photo_camera:before {
    content: "\e412";
}
.icon-cancel4:before {
    content: "\e5c9";
}
.icon-card_travel:before {
    content: "\e8f8";
}
.icon-cast:before {
    content: "\e307";
}
.icon-cast_connected:before {
    content: "\e308";
}
.icon-chat4:before {
    content: "\e0b7";
}
.icon-chat_bubble:before {
    content: "\e0ca";
}
.icon-chat_bubble_outline:before {
    content: "\e0cb";
}
.icon-check3:before {
    content: "\e5ca";
}
.icon-check_box:before {
    content: "\e834";
}
.icon-check_box_outline_blank:before {
    content: "\e835";
}
.icon-check_circle:before {
    content: "\e86c";
}
.icon-close2:before {
    content: "\e5cd";
}
.icon-clear_all:before {
    content: "\e0b8";
}
.icon-wb_cloudy:before {
    content: "\e42d";
}
.icon-cloud_circle:before {
    content: "\e2be";
}
.icon-cloud_done:before {
    content: "\e2bf";
}
.icon-cloud_download:before {
    content: "\e2c0";
}
.icon-cloud_queue:before {
    content: "\e2c2";
}
.icon-code3:before {
    content: "\e86f";
}
.icon-confirmation_number:before {
    content: "\e638";
}
.icon-contact_mail:before {
    content: "\e0d0";
}
.icon-contact_phone:before {
    content: "\e0cf";
}
.icon-contacts:before {
    content: "\e0ba";
}
.icon-content_copy:before {
    content: "\e14d";
}
.icon-content_cut:before {
    content: "\e14e";
}
.icon-content_paste:before {
    content: "\e14f";
}
.icon-copyright2:before {
    content: "\ec54";
}
.icon-mode_edit:before {
    content: "\e254";
}
.icon-create_new_folder:before {
    content: "\e2cc";
}
.icon-dehaze:before {
    content: "\e3c7";
}
.icon-delete:before {
    content: "\e872";
}
.icon-delete_forever:before {
    content: "\ec56";
}
.icon-delete_sweep:before {
    content: "\e16c";
}
.icon-description:before {
    content: "\e873";
}
.icon-directions_bus:before {
    content: "\e530";
}
.icon-directions_car:before {
    content: "\e531";
}
.icon-directions_run:before {
    content: "\e566";
}
.icon-directions_walk:before {
    content: "\e536";
}
.icon-remove_circle:before {
    content: "\e15c";
}
.icon-done:before {
    content: "\e876";
}
.icon-drag_handle:before {
    content: "\e25d";
}
.icon-time_to_leave:before {
    content: "\e62c";
}
.icon-markunread:before {
    content: "\e159";
}
.icon-equalizer4:before {
    content: "\e01d";
}
.icon-error2:before {
    content: "\e000";
}
.icon-error_outline:before {
    content: "\e001";
}
.icon-exit_to_app:before {
    content: "\e879";
}
.icon-fiber_manual_record:before {
    content: "\e061";
}
.icon-get_app:before {
    content: "\e884";
}
.icon-file_upload:before {
    content: "\e2c6";
}
.icon-filter_list:before {
    content: "\e152";
}
.icon-find_in_page:before {
    content: "\e880";
}
.icon-fingerprint:before {
    content: "\ec5b";
}
.icon-folder4:before {
    content: "\e2c7";
}
.icon-folder_shared:before {
    content: "\e2c9";
}
.icon-format_quote:before {
    content: "\e244";
}
.icon-forward5:before {
    content: "\e154";
}
.icon-functions:before {
    content: "\e24a";
}
.icon-gavel2:before {
    content: "\ec61";
}
.icon-goat:before {
    content: "\ec63";
}
.icon-graphic_eq:before {
    content: "\e1b8";
}
.icon-people:before {
    content: "\e7fb";
}
.icon-group_add:before {
    content: "\e7f0";
}
.icon-headset:before {
    content: "\e310";
}
.icon-help:before {
    content: "\e887";
}
.icon-help_outline:before {
    content: "\e8fd";
}
.icon-highlight:before {
    content: "\e25f";
}
.icon-highlight_off:before {
    content: "\e888";
}
.icon-home5:before {
    content: "\e88a";
}
.icon-hourglass_empty:before {
    content: "\e88b";
}
.icon-http:before {
    content: "\ec66";
}
.icon-lock4:before {
    content: "\e897";
}
.icon-indeterminate_check_box:before {
    content: "\ec68";
}
.icon-info6:before {
    content: "\e88e";
}
.icon-info_outline:before {
    content: "\e88f";
}
.icon-input:before {
    content: "\e890";
}
.icon-insert_comment:before {
    content: "\e24c";
}
.icon-insert_drive_file:before {
    content: "\e24d";
}
.icon-tag_faces:before {
    content: "\e420";
}
.icon-keyboard5:before {
    content: "\e312";
}
.icon-keyboard_voice:before {
    content: "\e31d";
}
.icon-language2:before {
    content: "\e894";
}
.icon-linked_camera:before {
    content: "\e438";
}
.icon-live_help:before {
    content: "\e0c6";
}
.icon-live_tv:before {
    content: "\e639";
}
.icon-local_atm:before {
    content: "\e53e";
}
.icon-local_car_wash:before {
    content: "\e542";
}
.icon-local_convenience_store:before {
    content: "\e543";
}
.icon-local_florist:before {
    content: "\e545";
}
.icon-local_hospital:before {
    content: "\e548";
}
.icon-print2:before {
    content: "\e8ad";
}
.icon-local_shipping:before {
    content: "\e558";
}
.icon-local_taxi:before {
    content: "\e559";
}
.icon-location_city:before {
    content: "\e7f1";
}
.icon-lock_open:before {
    content: "\e898";
}
.icon-lock_outline:before {
    content: "\e899";
}
.icon-sync2:before {
    content: "\e627";
}
.icon-mail_outline:before {
    content: "\e0e1";
}
.icon-menu5:before {
    content: "\e5d2";
}
.icon-message:before {
    content: "\e0c9";
}
.icon-mic2:before {
    content: "\e029";
}
.icon-monetization_on:before {
    content: "\e263";
}
.icon-mouse2:before {
    content: "\e323";
}
.icon-music_note:before {
    content: "\e405";
}
.icon-notifications:before {
    content: "\e7f4";
}
.icon-notifications_active:before {
    content: "\e7f7";
}
.icon-open_with:before {
    content: "\e89f";
}
.icon-pageview:before {
    content: "\e8a0";
}
.icon-pan_tool:before {
    content: "\ec70";
}
.icon-pause3:before {
    content: "\e034";
}
.icon-people_outline:before {
    content: "\e7fc";
}
.icon-perm_data_setting:before {
    content: "\e8a4";
}
.icon-phone_in_talk:before {
    content: "\e61d";
}
.icon-pie_chart:before {
    content: "\e6c4";
}
.icon-play_arrow:before {
    content: "\e037";
}
.icon-play_circle_filled:before {
    content: "\e038";
}
.icon-play_circle_outline:before {
    content: "\e039";
}
.icon-power2:before {
    content: "\e63c";
}
.icon-power_settings_new:before {
    content: "\e8ac";
}
.icon-priority_high:before {
    content: "\e645";
}
.icon-publish:before {
    content: "\e255";
}
.icon-queue_music:before {
    content: "\e03d";
}
.icon-redo3:before {
    content: "\e15a";
}
.icon-refresh2:before {
    content: "\e5d5";
}
.icon-remove2:before {
    content: "\e15b";
}
.icon-remove_circle_outline:before {
    content: "\e15d";
}
.icon-visibility:before {
    content: "\e8f4";
}
.icon-reorder2:before {
    content: "\e8fe";
}
.icon-reply4:before {
    content: "\e15e";
}
.icon-reply_all:before {
    content: "\e15f";
}
.icon-report:before {
    content: "\e160";
}
.icon-warning4:before {
    content: "\e002";
}
.icon-restore_page:before {
    content: "\ec78";
}
.icon-sd_storage:before {
    content: "\e1c2";
}
.icon-search4:before {
    content: "\e8b6";
}
.icon-security:before {
    content: "\e32a";
}
.icon-settings2:before {
    content: "\e8b8";
}
.icon-settings_applications:before {
    content: "\e8b9";
}
.icon-settings_power:before {
    content: "\e8c6";
}
.icon-sim_card_alert:before {
    content: "\e624";
}
.icon-skip_next:before {
    content: "\e044";
}
.icon-skip_previous:before {
    content: "\e045";
}
.icon-slideshow:before {
    content: "\e41b";
}
.icon-speaker_notes:before {
    content: "\e8cd";
}
.icon-stars:before {
    content: "\e8d0";
}
.icon-stop5:before {
    content: "\e047";
}
.icon-supervisor_account:before {
    content: "\e8d3";
}
.icon-swap_horiz:before {
    content: "\e8d4";
}
.icon-swap_vert:before {
    content: "\e8d5";
}
.icon-swap_vertical_circle:before {
    content: "\e8d6";
}
.icon-tap_and_play:before {
    content: "\e62b";
}
.icon-texture:before {
    content: "\e421";
}
.icon-timeline:before {
    content: "\ec80";
}
.icon-traffic:before {
    content: "\e565";
}
.icon-trending_down:before {
    content: "\e8e3";
}
.icon-trending_up:before {
    content: "\e8e5";
}
.icon-tune:before {
    content: "\e429";
}
.icon-unarchive:before {
    content: "\e169";
}
.icon-undo3:before {
    content: "\e166";
}
.icon-unfold_less:before {
    content: "\e5d6";
}
.icon-unfold_more:before {
    content: "\e5d7";
}
.icon-verified_user:before {
    content: "\e8e8";
}
.icon-vertical_align_bottom:before {
    content: "\e258";
}
.icon-vertical_align_top:before {
    content: "\e25a";
}
.icon-videocam:before {
    content: "\e04b";
}
.icon-view_column:before {
    content: "\e8ec";
}
.icon-view_comfy:before {
    content: "\e42a";
}
.icon-view_headline:before {
    content: "\e8ee";
}
.icon-view_list:before {
    content: "\e8ef";
}
.icon-view_module:before {
    content: "\e8f0";
}
.icon-view_stream:before {
    content: "\e8f2";
}
.icon-view_week:before {
    content: "\e8f3";
}
.icon-voice_chat:before {
    content: "\e62e";
}
.icon-volume_down:before {
    content: "\e04d";
}
.icon-volume_mute:before {
    content: "\e04e";
}
.icon-volume_off:before {
    content: "\e04f";
}
.icon-volume_up:before {
    content: "\e050";
}
.icon-vpn_key:before {
    content: "\e0da";
}
.icon-watch3:before {
    content: "\e334";
}
.icon-watch_later:before {
    content: "\ec83";
}
.icon-wc:before {
    content: "\e63d";
}
.icon-web_asset:before {
    content: "\e069";
}
.icon-weekend:before {
    content: "\e16b";
}
.icon-wifi2:before {
    content: "\e63e";
}
.icon-work:before {
    content: "\e8f9";
}
.icon-zoom_out_map:before {
    content: "\e56b";
}
.icon-wifi-full:before {
    content: "\ec9d";
}
.icon-connection-empty:before {
    content: "\ec9e";
}
.icon-connection-25:before {
    content: "\ec9f";
}
.icon-connection-50:before {
    content: "\eca0";
}
.icon-grid3:before {
    content: "\eca4";
}
.icon-reload:before {
    content: "\ecb1";
}
.icon-refresh3:before {
    content: "\ecb2";
}
.icon-paperclip2:before {
    content: "\ecbd";
}
.icon-chat5:before {
    content: "\ecc4";
}
.icon-comment4:before {
    content: "\ecc8";
}
.icon-clock4:before {
    content: "\ecd1";
}
.icon-home6:before {
    content: "\ecd3";
}
.icon-switch4:before {
    content: "\ecd6";
}
.icon-users3:before {
    content: "\ecdb";
}
.icon-user3:before {
    content: "\ecdc";
}
.icon-users4:before {
    content: "\ecdd";
}
.icon-user4:before {
    content: "\ecde";
}
.icon-camera7:before {
    content: "\ece8";
}
.icon-stopwatch2:before {
    content: "\ecfc";
}
.icon-graph2:before {
    content: "\ed08";
}
.icon-cube3:before {
    content: "\ed0b";
}
.icon-bars2:before {
    content: "\ed0c";
}
.icon-chart7:before {
    content: "\ed0d";
}

