{% extends "base.html" %}

{% block content %}
	{{ block.super }}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<h1>ABOUT US</h1>
		<p>This aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis about</p>
		<p>This aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis about</p>
		<p>This aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis about</p>
		<p>This aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis about</p>
		<p>This aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis aboutThis about</p>
	</div>
</div>

{% endblock %}